// out: ../css/app.css, compress: true
@import (less) "../less/bootstrap/bootstrap.less";
@import (less) "../less/fontawesome/font-awesome.less";

@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel-Regular.ttf");
  font-weight: 400;

}
@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel-Bold.ttf");
  font-weight: 700;

}
@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel-Black.ttf");
  font-weight: 900;

}
body {
  background-image: url("../img/bg.png");
  margin-bottom: 20px;
}
h1 {
  font-family: 'Cinzel', serif;
  font-size: 60px;

}
.todo {
  margin-left: 25px;
  &.strike {
    text-decoration: line-through;
  }

}
#list-box {
  .list-group {
    margin-bottom: 15px;
  }

}
#filter-box {
  margin-bottom: 15px;
  > .row > div {
    margin-top: 10px;
  }
}